lib
publish
dokumente
packages
packages/*
_UpgradeWizard_Files
_ConvertModelWizard_Files
/obj
/bin
*/obj
*/bin
*/*/obj
*/*/bin
*/*/*/obj
*/*/*/bin
*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/*/obj
*/*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/*/*/obj
*/*/*/*/*/*/*/*/*/bin
/Release
/Debug
*/Release
*/Debug
*/*/Release
*/*/Debug
*/*/*/Release
*/*/*/Debug
*/*/*/*/Release
*/*/*/*/Debug
*/*/*/*/*/Release
*/*/*/*/*/Debug
*/*/*/*/*/*/Release
*/*/*/*/*/*/Debug
*/*/*/*/*/*/*/Release
*/*/*/*/*/*/*/Debug
*/*/*/*/*/*/*/*/Release
*/*/*/*/*/*/*/*/Debug
/_ReSharper*
/*/_ReSharper*
/*/*/_ReSharper*
/*/*/*/_ReSharper*
/CorpusExplorer/CorpusExplorer.v11.suo
TestConsole
EXAMPLE
XDepencies
*.sql
*.raw
/CorpusExplorer/Tool4/CorpusExplorer.Tool4.UglySister/Korpus/korpus.bin
/CorpusExplorer/CorpusExplorer.Installer.LicenceKeyGenerator/sign.private.key
/CorpusExplorer/CorpusExplorer.Tool4.TwitterMark/*.cec5
/CorpusExplorer/CorpusExplorer.Installer/*.pfx
/CorpusExplorer/CorpusExplorer.Installer.AdvancedUser/*.pfx
/CorpusExplorer/CorpusExplorer.Installer.Kamoko/*.pfx
*.pfx
/CorpusExplorer/CorpusExplorer.Sdk.Extern.Plaintext.Test/testdata/*.cex
/*.ilproj
/Properties/*.licx
